
.header {
    min-width: 1200px;
    img {
        width: 100%;
    }
    .nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        .logo {
            height: 65px;
            float: left;
            padding-top: 15px;
        }
        ul {
            height: 80px;
            float: right;
            li {
                display: inline-block;
                a {
                    width: 110px;
                    display: inline-block;
                    line-height: 80px;
                    text-align: center;
                    color: #fff;
                }
                a:hover {
                    background: #04bdf2;
                }
            }
        }
    }
}
