

#bodyBox{
    overflow: hidden;
    clear: both;
    padding-bottom: 50px;
    .titleBox{
        height: 100px;
        line-height: 100px;
        text-align: center;
        position:relative;
        font-weight: bold;
        font-size: 28px;
        color: #666;
        
       &:after,&:before{
           position: absolute;
           top: 50px;
           content:'';
           width: 30%;
           border: 1px solid #e3e3e3;
       }
       &:after{
           left: 100px;
       }
       &:before{
           right: 100px;
       }
    }
    .mapBox {
        height: 724px;
        background: url(../images/classroom/map.png) no-repeat;
        background-size: 100% 100%;
    }
    .footMark {
        padding-left: 125px;
        overflow: hidden;
        clear: both;
        dl {
            margin: 25px 0;
            float: left;
            width: 50%;
            dt {
                width: 125px;
                height: 92px;
                border-radius: 5px;
                overflow: hidden;
                float: left;
                margin-right: 15px;
                img {
                    width: 100%;
                    height: 100%; 
                    object-fit: cover;
                }
            }
            dd {
                height: 92px;
                float: left;
                h3 {
                    line-height: 40px;
                    padding-bottom: 20px;
                }
            }
            &:nth-last-child(1) {
                width: 100%;
            }
        }
        
        
    }
}