

#bodyBox{
    overflow: hidden;
    clear: both;
    padding-bottom: 100px;
    .titleBox{
        height: 100px;
        line-height: 100px;
        text-align: center;
        position:relative;
        font-weight: bold;
        font-size: 20px;
        
       &:after,&:before{
           position: absolute;
           top: 50px;
           content:'';
           width: 35%;
           border: 1px solid #e3e3e3;
       }
       &:after{
           left: 100px;
       }
       &:before{
           right: 100px;
       }
    }
     ul.timeline {
           li{
               position: relative;
               margin: 20px 0;
               .number{
                   position: absolute;
                   background: url('../images/timeline/version_dot.png')  no-repeat scroll 0 0 transparent;
                   width: 84px;
                   height: 84px;
                   left: 0px;
                   line-height: 20px;
                   text-align: center;
                   color: #FFFFFF;
                   font-size: 18px;
                   .numberDay{
                            margin-top: 17px;
                            font-size: 32px;
                   }
                   .numberTime{
                           margin-top: 10px;
                           font-size: 18px
                   }
               }
               .content{
                   margin-left: 150px;
                   position: relative;
                   border-bottom: 1px dashed #f7dfc2;
                   .contentTitle{
                       font-weight: bold;
                   }
                   div{
//                      background-color: #3594cb;
//                      background: url("../images/timeline/version_line.png")  repeat-y scroll 120px 0 transparent;
                        padding: 5px 0;
                        color: #000;
                        font-size: 15px;
                        line-height: 20px;
                        overflow: hidden;
                   }
                   .contentIcon{
                        float: left;
                        width: 23%;
                        padding-right: 10px;
                        img{
                            width: 100%;
                        }
                   }
                   &:before{
                       position: absolute;
                       content: "";
                       width: 2px;
                       background: url("../images/timeline/version_line.png") repeat-y scroll;
                       left: -108px;
                       top: 95px;
                       height: 58%;
                   }
               }
               
           }
       }
}