
.main {
    overflow: hidden;
    clear: both;
    .left {
        
        width: 785px;
        float: left;
        .main-title {
            padding: 40px 15px 20px;
            border-bottom: 4px solid #26c6da;
            font-size: 20px;
            p {
                font-weight: bold;
                display: inline-block;
            }
            ul {
                float: right;
                li {
                    text-align: right;
                    width: 80px;
                    display: inline-block;
                    a {
                        color: #333;
                    }
                }
            }
        }
        .main-content {
            dl {
                padding: 30px 0px;
                padding-right: 15px;
                border-bottom: 1px solid #eee;
                clear: both;
                overflow: hidden; 
                dt {
                    width: 160px;
                    height: 160px;
                    background: #eee;
                    float: left;
                    img {
                        width: 100%;
                        height: 100%;
                        background: #eee;
                    }
                }
                dd {
                    width: 550px;
                    float: right;
                    p {
                        padding: 15px 0;
                        color: #666;
                        line-height: 1.5;
                    }
                    .public-num,.date,.comments,.share {
                        padding-left: 30px;
                        &::before {
                            display: inline-block;
                            content: '';
                            width: 20px;
                            height: 20px;
                            position: relative;
                            margin-right: 6px;
                            top: 5px;
                            background: url('../images/home/public-logo.png') no-repeat;
                            background-size: 100%; 
                        }
                    }
                    .public-num {
                        padding-left: 0;
                    }
                    .date {
                        &::before {
                            background: url('../images/home/date.png') no-repeat;
                            background-size: 100%;
                        }
                    }
                    .comments {
                        &::before {
                            background: url('../images/home/comments.png') no-repeat;
                            background-size: 100%;
                        }
                    }
                    .share {
                        &::before {
                            background: url('../images/home/share.png') no-repeat;
                            background-size: 100%;
                        }
                    }
                }
            }
        }
    }
    .right {
        float: right;
        width: 370px;
        .qr-code {
            padding: 50px 15px 20px;
            p {
                position: relative;
                display: inline-block;
                img {
                    width: 40px;
                    padding-right: 20px;
                }
                span {
                    display: none;
                    position: absolute;
                    top: 50px;
                    left: -5px;
                    width: 200px;
                    height: 200px;
                    border: 4px solid #26c6da;
                    background: #f5f5f5;
                    line-height: 200px;
                    text-align: center;
                    &::before {
                        content: '';
                        width: 0;
                        height: 0;
                        position: absolute;
                        left: 4px;
                        top: -16px;
                        border-left: 16px solid transparent;
                        border-right: 16px solid transparent;
                        border-bottom: 16px solid #26c6da;
                    }
                    &::after {
                        content: '';
                        width: 0;
                        height: 0;
                        position: absolute;
                        left: 8px;
                        top: -11px;
                        border-left: 12px solid transparent;
                        border-right: 12px solid transparent;
                        border-bottom: 12px solid #f5f5f5;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    a {
                        font-weight: bold;
                        font-size: 18px;
                    }
                }
            }
        }
        .content-banner {
            height: 200px;
            padding-bottom: 50px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .nav-tabs {
            height: 58px;
            border-bottom: 2px solid #26c6da;
            ul {
                li {
                    display: inline-block;
                    a {
                        width: 110px;
                        display: inline-block;
                        line-height: 60px;
                        text-align: center;
                        color: #000;
                    }
                    a:hover {
                        color: #fff;
                        background: #26c6da;
                    }
                }
            }
        }
        dl {
            padding: 30px 10px 0;
            clear: both;
            overflow: hidden;
            dt {
                width: 30px;
                height: 30px;
                margin-right: 20px;
                background: #26c6da;
                float: left;
            }
            dd {
                width: 280px;
                background: 30px;
                line-height: 30px;
                font-size: 16px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .dt-green {
                background: #b2ebf2;
            }
            .dt-grey {
                background: #bdbdbd;
            }
            
        }
    }
}